# Explainable Outcome Prediction - Preprocessing and EDA

- Author: David Steiner
- December 2021

In [ ]:
!pip install imblearn
!pip install pm4py
!pip install seaborn

!pip install interpret
!pip install xgboost
!pip install catboost

!pip install keras
!pip install tensorflow --user
!pip install keras-tuner

In [2]:
from prep_custom import get_dataset_settings, xes_converter, add_timestap_features, add_inter_case_features, impute_missing_values
from prep_custom import cut_trace_before_activity, create_trace_bucket,remove_features,remove_events
from prep_custom import split_data_temporal,replace_missing_cols,prepare_ml_train_test, aggregate_data, group_infrequent_features
from prep_custom import define_binary_outcome_label

import pandas as pd
pd.set_option("display.max_columns", 200)
pd.set_option("display.max_rows", 100)

import numpy as np

import warnings
warnings.filterwarnings('ignore')

import matplotlib.pyplot as plt
%matplotlib inline

# Data Preprocessing

### Available XES Eventlogs :

- BPI_Challenge_2013_incidents.xes.gz
- BPI Challenge 2017.xes.gz
- BPI_Challenge_2019.xes
- Hospital Billing - Event Log.xes.gz

In [3]:
%%time
data = xes_converter('BPI Challenge 2017.xes.gz')
print('Shape:', data.shape)
data.head(5)

parsing log, completed traces ::   0%|          | 0/31509 [00:00<?, ?it/s]

Shape: (1202267, 19)
Wall time: 2min 24s

,Action,org:resource,concept:name,EventOrigin,EventID,lifecycle:transition,time:timestamp,case:LoanGoal,case:ApplicationType,case:concept:name,case:RequestedAmount,FirstWithdrawalAmount,NumberOfTerms,Accepted,MonthlyCost,Selected,CreditScore,OfferedAmount,OfferID
0,Created,User_1,A_Create Application,Application,Application_652823628,complete,2016-01-01 09:51:15.304000+00:00,Existing loan takeover,New credit,Application_652823628,20000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,statechange,User_1,A_Submitted,Application,ApplState_1582051990,complete,2016-01-01 09:51:15.352000+00:00,Existing loan takeover,New credit,Application_652823628,20000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Created,User_1,W_Handle leads,Workflow,Workitem_1298499574,schedule,2016-01-01 09:51:15.774000+00:00,Existing loan takeover,New credit,Application_652823628,20000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Deleted,User_1,W_Handle leads,Workflow,Workitem_1673366067,withdraw,2016-01-01 09:52:36.392000+00:00,Existing loan takeover,New credit,Application_652823628,20000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Created,User_1,W_Complete application,Workflow,Workitem_1493664571,schedule,2016-01-01 09:52:36.403000+00:00,Existing loan takeover,New credit,Application_652823628,20000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
case_id_col = "case:concept:name"   # Case ID
activity_col = "concept:name"       # Event Name
timestamp_col = 'time:timestamp'    
label_col = 'label'                 # Output Label

#Display shape and one full case
data[data[case_id_col]==data[case_id_col].unique()[0]]

,Action,org:resource,concept:name,EventOrigin,EventID,lifecycle:transition,time:timestamp,case:LoanGoal,case:ApplicationType,case:concept:name,case:RequestedAmount,FirstWithdrawalAmount,NumberOfTerms,Accepted,MonthlyCost,Selected,CreditScore,OfferedAmount,OfferID
0,Created,User_1,A_Create Application,Application,Application_652823628,complete,2016-01-01 09:51:15.304000+00:00,Existing loan takeover,New credit,Application_652823628,20000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,statechange,User_1,A_Submitted,Application,ApplState_1582051990,complete,2016-01-01 09:51:15.352000+00:00,Existing loan takeover,New credit,Application_652823628,20000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Created,User_1,W_Handle leads,Workflow,Workitem_1298499574,schedule,2016-01-01 09:51:15.774000+00:00,Existing loan takeover,New credit,Application_652823628,20000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Deleted,User_1,W_Handle leads,Workflow,Workitem_1673366067,withdraw,2016-01-01 09:52:36.392000+00:00,Existing loan takeover,New credit,Application_652823628,20000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Created,User_1,W_Complete application,Workflow,Workitem_1493664571,schedule,2016-01-01 09:52:36.403000+00:00,Existing loan takeover,New credit,Application_652823628,20000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,statechange,User_1,A_Concept,Application,ApplState_642383566,complete,2016-01-01 09:52:36.413000+00:00,Existing loan takeover,New credit,Application_652823628,20000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Obtained,User_17,W_Complete application,Workflow,Workitem_1875340971,start,2016-01-02 10:45:22.429000+00:00,Existing loan takeover,New credit,Application_652823628,20000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Released,User_17,W_Complete application,Workflow,Workitem_1452291795,suspend,2016-01-02 10:49:28.816000+00:00,Existing loan takeover,New credit,Application_652823628,20000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,statechange,User_52,A_Accepted,Application,ApplState_99568828,complete,2016-01-02 11:23:04.299000+00:00,Existing loan takeover,New credit,Application_652823628,20000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Created,User_52,O_Create Offer,Offer,Offer_148581083,complete,2016-01-02 11:29:03.994000+00:00,Existing loan takeover,New credit,Application_652823628,20000.0,20000.0,44.0,True,498.29,True,979.0,20000.0,NaN
10,statechange,User_52,O_Created,Offer,OfferState_1514834199,complete,2016-01-02 11:29:05.354000+00:00,Existing loan takeover,New credit,Application_652823628,20000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Offer_148581083
11,statechange,User_52,O_Sent (mail and online),Offer,OfferState_2051164740,complete,2016-01-02 11:30:28.606000+00:00,Existing loan takeover,New credit,Application_652823628,20000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Offer_148581083
12,Deleted,User_52,W_Complete application,Workflow,Workitem_1007505836,ate_abort,2016-01-02 11:30:28.621000+00:00,Existing loan takeover,New credit,Application_652823628,20000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Created,User_52,W_Call after offers,Workflow,Workitem_1087320491,schedule,2016-01-02 11:30:28.629000+00:00,Existing loan takeover,New credit,Application_652823628,20000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Obtained,User_52,W_Call after offers,Workflow,Workitem_719909876,start,2016-01-02 11:30:28.631000+00:00,Existing loan takeover,New credit,Application_652823628,20000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,statechange,User_52,A_Complete,Application,ApplState_946455804,complete,2016-01-02 11:30:28.633000+00:00,Existing loan takeover,New credit,Application_652823628,20000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,Released,User_52,W_Call after offers,Workflow,Workitem_1447720177,suspend,2016-01-02 11:32:41.624000+00:00,Existing loan takeover,New credit,Application_652823628,20000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,Obtained,User_11,W_Call after offers,Workflow,Workitem_1260329040,resume,2016-01-06 09:26:44.492000+00:00,Existing loan takeover,New credit,Application_652823628,20000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,Released,User_11,W_Call after offers,Workflow,Workitem_1152103512,suspend,2016-01-06 09:27:08.472000+00:00,Existing loan takeover,New credit,Application_652823628,20000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,Deleted,User_117,W_Call after offers,Workflow,Workitem_524990185,ate_abort,2016-01-13 13:10:55.138000+00:00,Existing loan takeover,New credit,Application_652823628,20000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,Created,User_117,W_Validate application,Workflow,Workitem_781654767,schedule,2016-01-13 13:10:55.144000+00:00,Existing loan takeover,New credit,Application_652823628,20000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,Obtained,User_117,W_Validate application,Workflow,Workitem_1641716416,start,2016-01-13 13:10:55.145000+00:00,Existing loan takeover,New credit,Application_652823628,20000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,statechange,User_117,A_Validating,Application,ApplState_752879093,complete,2016-01-13 13:10:55.973000+00:00,Existing loan takeover,New credit,Application_652823628,20000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,statechange,User_117,O_Returned,Offer,OfferState_1310330551,complete,2016-01-13 13:11:03.569000+00:00,Existing loan takeover,New credit,Application_652823628,20000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Offer_148581083
24,Released,User_117,W_Validate application,Workflow,Workitem_823786158,suspend,2016-01-13 13:15:39.110000+00:00,Existing loan takeover,New credit,Application_652823628,20000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,Deleted,User_115,W_Validate application,Workflow,Workitem_392297123,ate_abort,2016-01-14 09:16:20.963000+00:00,Existing loan takeover,New credit,Application_652823628,20000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,Created,User_115,W_Call incomplete files,Workflow,Workitem_835564623,schedule,2016-01-14 09:16:20.970000+00:00,Existing loan takeover,New credit,Application_652823628,20000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,Obtained,User_115,W_Call incomplete files,Workflow,Workitem_2031858979,start,2016-01-14 09:16:20.972000+00:00,Existing loan takeover,New credit,Application_652823628,20000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,statechange,User_115,A_Incomplete,Application,ApplState_390139749,complete,2016-01-14 09:16:20.974000+00:00,Existing loan takeover,New credit,Application_652823628,20000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,Released,User_115,W_Call incomplete files,Workflow,Workitem_1628953525,suspend,2016-01-14 09:17:46.943000+00:00,Existing loan takeover,New credit,Application_652823628,20000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,Obtained,User_2,W_Call incomplete files,Workflow,Workitem_943086771,resume,2016-01-14 11:27:28.536000+00:00,Existing loan takeover,New credit,Application_652823628,20000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,Released,User_2,W_Call incomplete files,Workflow,Workitem_50564835,suspend,2016-01-14 11:30:19.089000+00:00,Existing loan takeover,New credit,Application_652823628,20000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,Deleted,User_117,W_Call incomplete files,Workflow,Workitem_1225999065,ate_abort,2016-01-14 13:39:51.407000+00:00,Existing loan takeover,New credit,Application_652823628,20000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,Created,User_117,W_Validate application,Workflow,Workitem_801031108,schedule,2016-01-14 13:39:51.492000+00:00,Existing loan takeover,New credit,Application_652823628,20000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,Obtained,User_117,W_Validate application,Workflow,Workitem_2071763612,start,2016-01-14 13:39:51.494000+00:00,Existing loan takeover,New credit,Application_652823628,20000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,statechange,User_117,A_Validating,Application,ApplState_1264188685,complete,2016-01-14 13:39:51.556000+00:00,Existing loan takeover,New credit,Application_652823628,20000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,Released,User_117,W_Validate application,Workflow,Workitem_646578909,suspend,2016-01-14 13:54:49.680000+00:00,Existing loan takeover,New credit,Application_652823628,20000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,statechange,User_115,O_Accepted,Offer,OfferState_1093322349,complete,2016-01-14 15:49:11.416000+00:00,Existing loan takeover,New credit,Application_652823628,20000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Offer_148581083
38,statechange,User_115,A_Pending,Application,ApplState_1179730815,complete,2016-01-14 15:49:11.420000+00:00,Existing loan takeover,New credit,Application_652823628,20000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,Deleted,User_115,W_Validate application,Workflow,Workitem_2067229931,ate_abort,2016-01-14 15:49:11.423000+00:00,Existing loan takeover,New credit,Application_652823628,20000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
%%time
data = add_timestap_features(data)
data = add_inter_case_features(data)
data = impute_missing_values(data)

#Display shape and one full case
print('Shape:', data.shape)
data[data[case_id_col]==data[case_id_col].unique()[0]]

Extracting timestamp features
Extracting open cases
Imputing missing values
Shape: (1202267, 28)
Wall time: 1h 32min 1s

,Action,org:resource,concept:name,EventOrigin,EventID,lifecycle:transition,time:timestamp,case:LoanGoal,case:ApplicationType,case:concept:name,case:RequestedAmount,FirstWithdrawalAmount,NumberOfTerms,Accepted,MonthlyCost,Selected,CreditScore,OfferedAmount,OfferID,timesincemidnight,month,weekday,hour,timesincelastevent,timesincecasestart,event_nr,open_cases,label
686058,Created,User_1,A_Create Application,Application,Application_1000086665,complete,2016-08-03 15:57:21.673000+00:00,"Other, see explanation",New credit,Application_1000086665,5000.0,0.0,0.0,missing,0.00,missing,0.0,0.0,missing,957,8,2,15,0.000000,0.000000,1,2250,empty
686059,statechange,User_1,A_Submitted,Application,ApplState_161925113,complete,2016-08-03 15:57:21.734000+00:00,"Other, see explanation",New credit,Application_1000086665,5000.0,0.0,0.0,missing,0.00,missing,0.0,0.0,missing,957,8,2,15,0.001017,0.001017,2,2250,empty
686060,Created,User_1,W_Handle leads,Workflow,Workitem_747707399,schedule,2016-08-03 15:57:21.963000+00:00,"Other, see explanation",New credit,Application_1000086665,5000.0,0.0,0.0,missing,0.00,missing,0.0,0.0,missing,957,8,2,15,0.003817,0.004833,3,2250,empty
686061,Deleted,User_1,W_Handle leads,Workflow,Workitem_1030261128,withdraw,2016-08-03 15:58:28.286000+00:00,"Other, see explanation",New credit,Application_1000086665,5000.0,0.0,0.0,missing,0.00,missing,0.0,0.0,missing,958,8,2,15,1.105383,1.110217,4,2250,empty
686062,Created,User_1,W_Complete application,Workflow,Workitem_1127124826,schedule,2016-08-03 15:58:28.293000+00:00,"Other, see explanation",New credit,Application_1000086665,5000.0,0.0,0.0,missing,0.00,missing,0.0,0.0,missing,958,8,2,15,0.000117,1.110333,5,2250,empty
686063,statechange,User_1,A_Concept,Application,ApplState_385184570,complete,2016-08-03 15:58:28.299000+00:00,"Other, see explanation",New credit,Application_1000086665,5000.0,0.0,0.0,missing,0.00,missing,0.0,0.0,missing,958,8,2,15,0.000100,1.110433,6,2250,empty
686064,Obtained,User_14,W_Complete application,Workflow,Workitem_518019192,start,2016-08-04 13:39:29.557000+00:00,"Other, see explanation",New credit,Application_1000086665,5000.0,0.0,0.0,missing,0.00,missing,0.0,0.0,missing,819,8,3,13,1301.020967,1302.131400,7,2192,empty
686065,Released,User_14,W_Complete application,Workflow,Workitem_1967765821,suspend,2016-08-04 13:50:12.281000+00:00,"Other, see explanation",New credit,Application_1000086665,5000.0,0.0,0.0,missing,0.00,missing,0.0,0.0,missing,830,8,3,13,10.712067,1312.843467,8,2188,empty
686066,statechange,User_5,A_Accepted,Application,ApplState_856156982,complete,2016-08-05 13:57:07.419000+00:00,"Other, see explanation",New credit,Application_1000086665,5000.0,0.0,0.0,missing,0.00,missing,0.0,0.0,missing,837,8,4,13,1446.918967,2759.762433,9,2191,empty
686067,Created,User_5,O_Create Offer,Offer,Offer_410892064,complete,2016-08-05 13:59:57.320000+00:00,"Other, see explanation",New credit,Application_1000086665,5000.0,5000.0,22.0,True,241.28,False,0.0,5000.0,missing,839,8,4,13,2.831683,2762.594117,10,2192,empty
686068,statechange,User_5,O_Created,Offer,OfferState_2071773136,complete,2016-08-05 13:59:58.162000+00:00,"Other, see explanation",New credit,Application_1000086665,5000.0,5000.0,22.0,True,241.28,False,0.0,5000.0,Offer_410892064,839,8,4,13,0.014033,2762.608150,11,2192,empty
686069,statechange,User_5,O_Sent (mail and online),Offer,OfferState_388269514,complete,2016-08-05 14:01:23.264000+00:00,"Other, see explanation",New credit,Application_1000086665,5000.0,5000.0,22.0,True,241.28,False,0.0,5000.0,Offer_410892064,841,8,4,14,1.418367,2764.026517,12,2191,empty
686070,Deleted,User_5,W_Complete application,Workflow,Workitem_576357058,ate_abort,2016-08-05 14:01:23.278000+00:00,"Other, see explanation",New credit,Application_1000086665,5000.0,5000.0,22.0,True,241.28,False,0.0,5000.0,Offer_410892064,841,8,4,14,0.000233,2764.026750,13,2191,empty
686071,Created,User_5,W_Call after offers,Workflow,Workitem_1624628008,schedule,2016-08-05 14:01:23.284000+00:00,"Other, see explanation",New credit,Application_1000086665,5000.0,5000.0,22.0,True,241.28,False,0.0,5000.0,Offer_410892064,841,8,4,14,0.000100,2764.026850,14,2191,empty
686072,Obtained,User_5,W_Call after offers,Workflow,Workitem_409035147,start,2016-08-05 14:01:23.286000+00:00,"Other, see explanation",New credit,Application_1000086665,5000.0,5000.0,22.0,True,241.28,False,0.0,5000.0,Offer_410892064,841,8,4,14,0.000033,2764.026883,15,2191,empty
686073,statechange,User_5,A_Complete,Application,ApplState_1103800866,complete,2016-08-05 14:01:23.288000+00:00,"Other, see explanation",New credit,Application_1000086665,5000.0,5000.0,22.0,True,241.28,False,0.0,5000.0,Offer_410892064,841,8,4,14,0.000033,2764.026917,16,2191,empty
686074,Released,User_5,W_Call after offers,Workflow,Workitem_486281252,suspend,2016-08-05 14:03:01.480000+00:00,"Other, see explanation",New credit,Application_1000086665,5000.0,5000.0,22.0,True,241.28,False,0.0,5000.0,Offer_410892064,843,8,4,14,1.636533,2765.663450,17,2193,empty
686075,Obtained,User_18,W_Call after offers,Workflow,Workitem_261413834,resume,2016-08-09 18:25:01.546000+00:00,"Other, see explanation",New credit,Application_1000086665,5000.0,5000.0,22.0,True,241.28,False,0.0,5000.0,Offer_410892064,1105,8,1,18,6022.001100,8787.664550,18,2306,empty
686076,Released,User_18,W_Call after offers,Workflow,Workitem_1136881245,suspend,2016-08-09 18:25:32.629000+00:00,"Other, see explanation",New credit,Application_1000086665,5000.0,5000.0,22.0,True,241.28,False,0.0,5000.0,Offer_410892064,1105,8,1,18,0.518050,8788.182600,19,2306,empty
686077,statechange,User_1,A_Cancelled,Application,ApplState_544389273,complete,2016-09-05 06:00:36.710000+00:00,"Other, see explanation",New credit,Application_1000086665,5000.0,5000.0,22.0,True,241.28,False,0.0,5000.0,Offer_410892064,360,9,0,6,38135.068017,46923.250617,20,2271,empty
686078,statechange,User_1,O_Cancelled,Offer,OfferState_1258287612,complete,2016-09-05 06:00:36.829000+00:00,"Other, see explanation",New credit,Application_1000086665,5000.0,5000.0,22.0,True,241.28,False,0.0,5000.0,Offer_410892064,360,9,0,6,0.001983,46923.252600,21,2271,empty
686079,Deleted,User_1,W_Call after offers,Workflow,Workitem_1074507345,ate_abort,2016-09-05 06:00:36.893000+00:00,"Other, see explanation",New credit,Application_1000086665,5000.0,5000.0,22.0,True,241.28,False,0.0,5000.0,Offer_410892064,360,9,0,6,0.001067,46923.253667,22,2270,empty

In [6]:
#Export preprocessed dataset
data.to_csv("BPIC_17.csv", index = False)

## EDA

### Available Datasets:

- BPIC13
- BPIC17
- BPIC19
- BPICHospital

In [8]:
data, case_id_col, activity_col, timestamp_col, label_col, resource_col, event_categorical_attributes, event_numeric_attributes, case_categorical_attributes, case_numeric_attributes, static_cols, dynamic_cols, cat_cols = get_dataset_settings('BPIC17')
attributes = [event_categorical_attributes, case_categorical_attributes, event_numeric_attributes, case_numeric_attributes]

Categoric Event Attributes: 8 ['Action', 'org:resource', 'concept:name', 'EventID', 'lifecycle:transition', 'Accepted', 'Selected', 'OfferID']

Numeric Event Attributes: 13 ['FirstWithdrawalAmount', 'NumberOfTerms', 'MonthlyCost', 'CreditScore', 'OfferedAmount', 'timesincemidnight', 'month', 'weekday', 'hour', 'timesincelastevent', 'timesincecasestart', 'event_nr', 'open_cases']

Categoric Case Attributes: 3 ['EventOrigin', 'case:LoanGoal', 'case:ApplicationType']

Numeric Case Attributes: 1 ['case:RequestedAmount']

Dataset Shape (1202267, 28)

In [9]:
data.aggregate(pd.Series.nunique).sort_values(ascending=False)

EventID                  1202267
time:timestamp           1202209
timesincecasestart       1078507
timesincelastevent        446885
OfferID                    42996
case:concept:name          31509
FirstWithdrawalAmount       5930
MonthlyCost                 5817
open_cases                  2707
timesincemidnight           1400
case:RequestedAmount         701
OfferedAmount                664
CreditScore                  520
event_nr                     180
org:resource                 149
NumberOfTerms                148
concept:name                  26
hour                          24
case:LoanGoal                 14
month                         12
lifecycle:transition           7
weekday                        7
Action                         5
Selected                       3
Accepted                       3
EventOrigin                    3
case:ApplicationType           2
label                          1
dtype: int64

In [10]:
print("--- event_numeric_attributes ---")
for col in event_numeric_attributes:
    print(col, '=', len(data[col].unique()), 'unique values', sep=' ')
    print(data[col].describe())
    print()
    
print("--- case_numeric_attributes ---")
for col in case_numeric_attributes:
    print(col, '=', len(data[col].unique()), 'unique values', sep=' ')
    print(data[col].describe())
    print()

--- event_numeric_attributes ---
FirstWithdrawalAmount = 5930 unique values
count    1.202267e+06
mean     6.410647e+03
std      9.987348e+03
min      0.000000e+00
25%      0.000000e+00
50%      1.719000e+03
75%      1.000000e+04
max      7.500000e+04
Name: FirstWithdrawalAmount, dtype: float64

NumberOfTerms = 148 unique values
count    1.202267e+06
mean     6.506787e+01
std      4.804358e+01
min      0.000000e+00
25%      2.300000e+01
50%      6.000000e+01
75%      1.200000e+02
max      1.800000e+02
Name: NumberOfTerms, dtype: float64

MonthlyCost = 5817 unique values
count    1.202267e+06
mean     2.175509e+02
std      2.036598e+02
min      0.000000e+00
25%      7.000000e+01
50%      1.984000e+02
75%      3.000700e+02
max      6.673830e+03
Name: MonthlyCost, dtype: float64

CreditScore = 520 unique values
count    1.202267e+06
mean     3.512002e+02
std      4.408910e+02
min      0.000000e+00
25%      0.000000e+00
50%      0.000000e+00
75%      8.640000e+02
max      1.145000e+03
Name: CreditScore, dtype: float64

OfferedAmount = 664 unique values
count    1.202267e+06
mean     1.460996e+04
std      1.460835e+04
min      0.000000e+00
25%      5.000000e+03
50%      1.000000e+04
75%      2.000000e+04
max      7.500000e+04
Name: OfferedAmount, dtype: float64

timesincemidnight = 1400 unique values
count    1.202267e+06
mean     7.200852e+02
std      2.199310e+02
min      0.000000e+00
25%      5.470000e+02
50%      6.990000e+02
75%      8.640000e+02
max      1.439000e+03
Name: timesincemidnight, dtype: float64

month = 12 unique values
count    1.202267e+06
mean     6.763890e+00
std      3.366534e+00
min      1.000000e+00
25%      4.000000e+00
50%      7.000000e+00
75%      1.000000e+01
max      1.200000e+01
Name: month, dtype: float64

weekday = 7 unique values
count    1.202267e+06
mean     2.169753e+00
std      1.643663e+00
min      0.000000e+00
25%      1.000000e+00
50%      2.000000e+00
75%      4.000000e+00
max      6.000000e+00
Name: weekday, dtype: float64

hour = 24 unique values
count    1.202267e+06
mean     1.151794e+01
std      3.656647e+00
min      0.000000e+00
25%      9.000000e+00
50%      1.100000e+01
75%      1.400000e+01
max      2.300000e+01
Name: hour, dtype: float64

timesincelastevent = 446885 unique values
count    1.202267e+06
mean     8.264802e+02
std      3.882428e+03
min      0.000000e+00
25%      1.166667e-04
50%      8.641667e-02
75%      4.347358e+00
max      1.960213e+05
Name: timesincelastevent, dtype: float64

timesincecasestart = 1078507 unique values
count    1.202267e+06
mean     1.301667e+04
std      1.650955e+04
min      0.000000e+00
25%      5.670105e+02
50%      7.548739e+03
75%      1.957234e+04
max      4.119443e+05
Name: timesincecasestart, dtype: float64

event_nr = 180 unique values
count    1.202267e+06
mean     2.323931e+01
std      1.750326e+01
min      1.000000e+00
25%      1.000000e+01
50%      2.000000e+01
75%      3.200000e+01
max      1.800000e+02
Name: event_nr, dtype: float64

open_cases = 2707 unique values
count    1.202267e+06
mean     1.878366e+03
std      4.217149e+02
min      0.000000e+00
25%      1.586000e+03
50%      1.901000e+03
75%      2.243000e+03
max      2.706000e+03
Name: open_cases, dtype: float64

--- case_numeric_attributes ---
case:RequestedAmount = 701 unique values
count    1.202267e+06
mean     1.675947e+04
std      1.572320e+04
min      0.000000e+00
25%      6.000000e+03
50%      1.400000e+04
75%      2.300000e+04
max      4.500000e+05
Name: case:RequestedAmount, dtype: float64

In [11]:
print("--- Dynamic Cat Columns ---")
for col in event_categorical_attributes:
    print(col, '=', len(data[col].unique()), 'unique values', sep=' ')
    print(data[col].unique())
    print()
    
print("--- case_categorical_attributes ---")
for col in case_categorical_attributes:
    print(col, '=', len(data[col].unique()), 'unique values', sep=' ')
    print(data[col].unique())
    print()

--- Dynamic Cat Columns ---
Action = 5 unique values
['Created' 'statechange' 'Deleted' 'Obtained' 'Released']

org:resource = 149 unique values
['User_1' 'User_14' 'User_5' 'User_18' 'User_32' 'User_118' 'User_90'
 'User_71' 'User_16' 'User_132' 'User_91' 'User_119' 'User_58' 'User_121'
 'User_68' 'User_28' 'User_3' 'User_29' 'User_75' 'User_24' 'User_25'
 'User_87' 'User_37' 'User_116' 'User_100' 'User_30' 'User_15' 'User_77'
 'User_53' 'User_133' 'User_67' 'User_123' 'User_7' 'User_23' 'User_126'
 'User_95' 'User_99' 'User_98' 'User_81' 'User_69' 'User_72' 'User_94'
 'User_51' 'User_78' 'User_134' 'User_106' 'User_42' 'User_34' 'User_109'
 'User_48' 'User_120' 'User_102' 'User_43' 'User_115' 'User_13' 'User_27'
 'User_85' 'User_4' 'User_46' 'User_40' 'User_49' 'User_131' 'User_62'
 'User_56' 'User_41' 'User_112' 'User_10' 'User_96' 'User_79' 'User_63'
 'User_80' 'User_83' 'User_52' 'User_60' 'User_39' 'User_122' 'User_2'
 'User_31' 'User_21' 'User_129' 'User_19' 'User_33' 'User_93' 'User_45'
 'User_47' 'User_17' 'User_101' 'User_35' 'User_130' 'User_113' 'User_11'
 'User_128' 'User_44' 'User_125' 'User_36' 'User_107' 'User_104'
 'User_127' 'User_22' 'User_61' 'User_144' 'User_138' 'User_65' 'User_73'
 'User_55' 'User_9' 'User_92' 'User_74' 'User_86' 'User_117' 'User_12'
 'User_114' 'User_70' 'User_26' 'User_54' 'User_76' 'User_84' 'User_38'
 'User_135' 'User_140' 'User_57' 'User_143' 'User_124' 'User_66' 'User_59'
 'User_20' 'User_141' 'User_89' 'User_97' 'User_8' 'User_105' 'User_146'
 'User_137' 'User_64' 'User_136' 'User_108' 'User_88' 'User_139' 'User_50'
 'User_6' 'User_103' 'User_110' 'User_142' 'User_111' 'User_82' 'User_147'
 'User_145' 'User_148' 'User_149']

concept:name = 26 unique values
['A_Create Application' 'A_Submitted' 'W_Handle leads'
 'W_Complete application' 'A_Concept' 'A_Accepted' 'O_Create Offer'
 'O_Created' 'O_Sent (mail and online)' 'W_Call after offers' 'A_Complete'
 'A_Cancelled' 'O_Cancelled' 'W_Validate application' 'A_Validating'
 'O_Returned' 'O_Accepted' 'A_Pending' 'W_Call incomplete files'
 'A_Incomplete' 'A_Denied' 'O_Refused' 'O_Sent (online only)'
 'W_Assess potential fraud' 'W_Shortened completion '
 'W_Personal Loan collection']

EventID = 1202267 unique values
['Application_1000086665' 'ApplState_161925113' 'Workitem_747707399' ...
 'OfferState_1927291643' 'ApplState_1253134444' 'Workitem_1302194036']

lifecycle:transition = 7 unique values
['complete' 'schedule' 'withdraw' 'start' 'suspend' 'ate_abort' 'resume']

Accepted = 3 unique values
['missing' 'True' 'False']

Selected = 3 unique values
['missing' 'False' 'True']

OfferID = 42996 unique values
['missing' 'Offer_410892064' 'Offer_927137349' ... 'Offer_1512420329'
 'Offer_148382244' 'Offer_913122697']

--- case_categorical_attributes ---
EventOrigin = 3 unique values
['Application' 'Workflow' 'Offer']

case:LoanGoal = 14 unique values
['Other, see explanation' 'Home improvement' 'Car'
 'Existing loan takeover' 'Not speficied' 'Unknown' 'Caravan / Camper'
 'Extra spending limit' 'Remaining debt home' 'Motorcycle' 'Boat'
 'Business goal' 'Tax payments' 'Debt restructuring']

case:ApplicationType = 2 unique values
['New credit' 'Limit raise']

In [12]:
print(data.groupby(activity_col)[case_id_col].count().sort_values(ascending=False))

concept:name
W_Validate application        209496
W_Call after offers           191092
W_Call incomplete files       168529
W_Complete application        148900
W_Handle leads                 47264
O_Create Offer                 42995
O_Created                      42995
O_Sent (mail and online)       39707
A_Validating                   38816
A_Create Application           31509
A_Concept                      31509
A_Accepted                     31509
A_Complete                     31362
O_Returned                     23305
A_Incomplete                   23055
O_Cancelled                    20898
A_Submitted                    20423
O_Accepted                     17228
A_Pending                      17228
A_Cancelled                    10431
O_Refused                       4695
A_Denied                        3753
W_Assess potential fraud        3282
O_Sent (online only)            2026
W_Shortened completion           238
W_Personal Loan collection        22
Name: case:concept:name, dtype: int64

In [13]:
data.groupby(case_id_col)[activity_col].count().sort_values()

case:concept:name
Application_1515064385     10
Application_1829767138     10
Application_968189026      10
Application_961957338      10
Application_523628252      10
                         ...
Application_1387439149    154
Application_1875888758    156
Application_1359726788    159
Application_2037628374    180
Application_1219772874    180
Name: concept:name, Length: 31509, dtype: int64

In [14]:
#Display shape and one full case
data[data[case_id_col]==data[case_id_col].unique()[10]]

,Action,org:resource,concept:name,EventOrigin,EventID,lifecycle:transition,time:timestamp,case:LoanGoal,case:ApplicationType,case:concept:name,case:RequestedAmount,FirstWithdrawalAmount,NumberOfTerms,Accepted,MonthlyCost,Selected,CreditScore,OfferedAmount,OfferID,timesincemidnight,month,weekday,hour,timesincelastevent,timesincecasestart,event_nr,open_cases,label
344,Created,User_1,A_Create Application,Application,Application_1000610355,complete,2016-11-30 08:30:06.392000+00:00,Not speficied,New credit,Application_1000610355,10000.0,0.0,0.0,missing,0.0,missing,0.0,0.0,missing,510,11,2,8,0.000000,0.000000,1,1827,empty
345,statechange,User_1,A_Submitted,Application,ApplState_301801710,complete,2016-11-30 08:30:07.554000+00:00,Not speficied,New credit,Application_1000610355,10000.0,0.0,0.0,missing,0.0,missing,0.0,0.0,missing,510,11,2,8,0.019367,0.019367,2,1827,empty
346,Created,User_1,W_Handle leads,Workflow,Workitem_1519952104,schedule,2016-11-30 08:30:07.724000+00:00,Not speficied,New credit,Application_1000610355,10000.0,0.0,0.0,missing,0.0,missing,0.0,0.0,missing,510,11,2,8,0.002833,0.022200,3,1827,empty
347,Obtained,User_5,W_Handle leads,Workflow,Workitem_36541799,start,2016-11-30 12:00:33.801000+00:00,Not speficied,New credit,Application_1000610355,10000.0,0.0,0.0,missing,0.0,missing,0.0,0.0,missing,720,11,2,12,210.434617,210.456817,4,1805,empty
348,Deleted,User_5,W_Handle leads,Workflow,Workitem_2031265715,complete,2016-11-30 12:00:49.566000+00:00,Not speficied,New credit,Application_1000610355,10000.0,0.0,0.0,missing,0.0,missing,0.0,0.0,missing,720,11,2,12,0.262750,210.719567,5,1805,empty
349,Created,User_5,W_Complete application,Workflow,Workitem_1601853822,schedule,2016-11-30 12:00:49.571000+00:00,Not speficied,New credit,Application_1000610355,10000.0,0.0,0.0,missing,0.0,missing,0.0,0.0,missing,720,11,2,12,0.000083,210.719650,6,1805,empty
350,Obtained,User_5,W_Complete application,Workflow,Workitem_1816633637,start,2016-11-30 12:00:49.572000+00:00,Not speficied,New credit,Application_1000610355,10000.0,0.0,0.0,missing,0.0,missing,0.0,0.0,missing,720,11,2,12,0.000017,210.719667,7,1805,empty
351,statechange,User_5,A_Concept,Application,ApplState_627387221,complete,2016-11-30 12:00:49.574000+00:00,Not speficied,New credit,Application_1000610355,10000.0,0.0,0.0,missing,0.0,missing,0.0,0.0,missing,720,11,2,12,0.000033,210.719700,8,1805,empty
352,Released,User_5,W_Complete application,Workflow,Workitem_965530268,suspend,2016-11-30 12:01:19.622000+00:00,Not speficied,New credit,Application_1000610355,10000.0,0.0,0.0,missing,0.0,missing,0.0,0.0,missing,721,11,2,12,0.500800,211.220500,9,1805,empty
353,Obtained,User_69,W_Complete application,Workflow,Workitem_556328765,resume,2016-12-01 08:51:28.530000+00:00,Not speficied,New credit,Application_1000610355,10000.0,0.0,0.0,missing,0.0,missing,0.0,0.0,missing,531,12,3,8,1250.148467,1461.368967,10,1763,empty
354,Released,User_69,W_Complete application,Workflow,Workitem_863874322,suspend,2016-12-01 08:51:35.476000+00:00,Not speficied,New credit,Application_1000610355,10000.0,0.0,0.0,missing,0.0,missing,0.0,0.0,missing,531,12,3,8,0.115767,1461.484733,11,1763,empty
355,Obtained,User_69,W_Complete application,Workflow,Workitem_421638874,resume,2016-12-01 13:15:39.441000+00:00,Not speficied,New credit,Application_1000610355,10000.0,0.0,0.0,missing,0.0,missing,0.0,0.0,missing,795,12,3,13,264.066083,1725.550817,12,1766,empty
356,Released,User_69,W_Complete application,Workflow,Workitem_737379187,suspend,2016-12-01 13:15:42.323000+00:00,Not speficied,New credit,Application_1000610355,10000.0,0.0,0.0,missing,0.0,missing,0.0,0.0,missing,795,12,3,13,0.048033,1725.598850,13,1766,empty
357,Obtained,User_72,W_Complete application,Workflow,Workitem_1192784472,resume,2016-12-01 14:36:25.447000+00:00,Not speficied,New credit,Application_1000610355,10000.0,0.0,0.0,missing,0.0,missing,0.0,0.0,missing,876,12,3,14,80.718733,1806.317583,14,1768,empty
358,Released,User_72,W_Complete application,Workflow,Workitem_1594372138,suspend,2016-12-01 14:36:31.607000+00:00,Not speficied,New credit,Application_1000610355,10000.0,0.0,0.0,missing,0.0,missing,0.0,0.0,missing,876,12,3,14,0.102667,1806.420250,15,1768,empty
359,Obtained,User_94,W_Complete application,Workflow,Workitem_910749749,resume,2016-12-01 14:40:46.411000+00:00,Not speficied,New credit,Application_1000610355,10000.0,0.0,0.0,missing,0.0,missing,0.0,0.0,missing,880,12,3,14,4.246733,1810.666983,16,1769,empty
360,Released,User_94,W_Complete application,Workflow,Workitem_1689937894,suspend,2016-12-01 14:40:50.679000+00:00,Not speficied,New credit,Application_1000610355,10000.0,0.0,0.0,missing,0.0,missing,0.0,0.0,missing,880,12,3,14,0.071133,1810.738117,17,1769,empty
361,Obtained,User_51,W_Complete application,Workflow,Workitem_1990856345,resume,2016-12-01 19:41:34.770000+00:00,Not speficied,New credit,Application_1000610355,10000.0,0.0,0.0,missing,0.0,missing,0.0,0.0,missing,1181,12,3,19,300.734850,2111.472967,18,1787,empty
362,statechange,User_51,A_Accepted,Application,ApplState_973858399,complete,2016-12-01 19:54:36.513000+00:00,Not speficied,New credit,Application_1000610355,10000.0,0.0,0.0,missing,0.0,missing,0.0,0.0,missing,1194,12,3,19,13.029050,2124.502017,19,1789,empty
363,Created,User_51,O_Create Offer,Offer,Offer_73833420,complete,2016-12-01 19:57:18.670000+00:00,Not speficied,New credit,Application_1000610355,10000.0,3500.0,57.0,False,200.0,True,0.0,10000.0,missing,1197,12,3,19,2.702617,2127.204633,20,1789,empty
364,statechange,User_51,O_Created,Offer,OfferState_131177682,complete,2016-12-01 19:57:19.254000+00:00,Not speficied,New credit,Application_1000610355,10000.0,3500.0,57.0,False,200.0,True,0.0,10000.0,Offer_73833420,1197,12,3,19,0.009733,2127.214367,21,1789,empty
365,statechange,User_51,O_Sent (mail and online),Offer,OfferState_690259244,complete,2016-12-01 19:57:26.541000+00:00,Not speficied,New credit,Application_1000610355,10000.0,3500.0,57.0,False,200.0,True,0.0,10000.0,Offer_73833420,1197,12,3,19,0.121450,2127.335817,22,1789,empty
366,Deleted,User_51,W_Complete application,Workflow,Workitem_611493543,complete,2016-12-01 19:57:26.553000+00:00,Not speficied,New credit,Application_1000610355,10000.0,3500.0,57.0,False,200.0,True,0.0,10000.0,Offer_73833420,1197,12,3,19,0.000200,2127.336017,23,1789,empty
367,Created,User_51,W_Call after offers,Workflow,Workitem_421806081,schedule,2016-12-01 19:57:26.559000+00:00,Not speficied,New credit,Application_1000610355,10000.0,3500.0,57.0,False,200.0,True,0.0,10000.0,Offer_73833420,1197,12,3,19,0.000100,2127.336117,24,1789,empty
368,Obtained,User_51,W_Call after offers,Workflow,Workitem_893591884,start,2016-12-01 19:57:26.561000+00:00,Not speficied,New credit,Application_1000610355,10000.0,3500.0,57.0,False,200.0,True,0.0,10000.0,Offer_73833420,1197,12,3,19,0.000033,2127.336150,25,1789,empty
369,statechange,User_51,A_Complete,Application,ApplState_867194552,complete,2016-12-01 19:57:26.563000+00:00,Not speficied,New credit,Application_1000610355,10000.0,3500.0,57.0,False,200.0,True,0.0,10000.0,Offer_73833420,1197,12,3,19,0.000033,2127.336183,26,1789,empty
370,Released,User_51,W_Call after offers,Workflow,Workitem_999991648,suspend,2016-12-01 20:02:50.875000+00:00,Not speficied,New credit,Application_1000610355,10000.0,3500.0,57.0,False,200.0,True,0.0,10000.0,Offer_73833420,1202,12,3,20,5.405200,2132.741383,27,1790,empty
371,Deleted,User_1,W_Call after offers,Workflow,Workitem_695487366,ate_abort,2016-12-05 06:33:04.047000+00:00,Not speficied,New credit,Application_1000610355,10000.0,3500.0,57.0,False,200.0,True,0.0,10000.0,Offer_73833420,393,12,0,6,4950.219533,7082.960917,28,1815,empty
372,Created,User_1,W_Call after offers,Workflow,Workitem_1129435232,schedule,2016-12-05 06:33:04.053000+00:00,Not speficied,New credit,Application_1000610355,10000.0,3500.0,57.0,False,200.0,True,0.0,10000.0,Offer_73833420,393,12,0,6,0.000100,7082.961017,29,1815,empty
373,Deleted,User_123,W_Call after offers,Workflow,Workitem_596943136,withdraw,2016-12-20 08:03:59.547000+00:00,Not speficied,New credit,Application_1000610355,10000.0,3500.0,57.0,False,200.0,True,0.0,10000.0,Offer_73833420,483,12,1,8,21690.924900,28773.885917,30,1912,empty
374,Created,User_123,W_Validate application,Workflow,Workitem_1250476474,schedule,2016-12-20 08:03:59.554000+00:00,Not speficied,New credit,Application_1000610355,10000.0,3500.0,57.0,False,200.0,True,0.0,10000.0,Offer_73833420,483,12,1,8,0.000117,28773.886033,31,1912,empty
375,Obtained,User_123,W_Validate application,Workflow,Workitem_1027369732,start,2016-12-20 08:03:59.555000+00:00,Not speficied,New credit,Application_1000610355,10000.0,3500.0,57.0,False,200.0,True,0.0,10000.0,Offer_73833420,483,12,1,8,0.000017,28773.886050,32,1912,empty
376,statechange,User_123,A_Validating,Application,ApplState_949197335,complete,2016-12-20 08:04:00.325000+00:00,Not speficied,New credit,Application_1000610355,10000.0,3500.0,57.0,False,200.0,True,0.0,10000.0,Offer_73833420,484,12,1,8,0.012833,28773.898883,33,1912,empty
377,statechange,User_123,O_Returned,Offer,OfferState_567875974,complete,2016-12-20 08:04:04.592000+00:00,Not speficied,New credit,Application_1000610355,10000.0,3500.0,57.0,False,200.0,True,0.0,10000.0,Offer_73833420,484,12,1,8,0.071117,28773.970000,34,1912,empty
378,Released,User_123,W_Validate application,Workflow,Workitem_1238324275,suspend,2016-12-20 08:06:09.603000+00:00,Not speficied,New credit,Application_1000610355,10000.0,3500.0,57.0,False,200.0,True,0.0,10000.0,Offer_73833420,486,12,1,8,2.083517,28776.053517,35,1911,empty
379,Deleted,User_90,W_Validate application,Workflow,Workitem_1190695392,ate_abort,2016-12-20 10:50:37.112000+00:00,Not speficied,New credit,Application_1000610355,10000.0,3500.0,57.0,False,200.0,True,0.0,10000.0,Offer_73833420,650,12,1,10,164.458483,28940.512000,36,1901,empty
380,Created,User_90,W_Call incomplete files,Workflow,Workitem_370076272,schedule,2016-12-20 10:50:37.117000+00:00,Not speficied,New credit,Application_1000610355,10000.0,3500.0,57.0,False,200.0,True,0.0,10000.0,Offer_73833420,650,12,1,10,0.000083,28940.512083,37,1901,empty
381,Obtained,User_90,W_Call incomplete files,Workflow,Workitem_687060246,start,2016-12-20 10:50:37.119000+00:00,Not speficied,New credit,Application_1000610355,10000.0,3500.0,57.0,False,200.0,True,0.0,10000.0,Offer_73833420,650,12,1,10,0.000033,28940.512117,38,1901,empty
382,statechange,User_90,A_Incomplete,Application,ApplState_50924338,complete,2016-12-20 10:50:37.120000+00:00,Not speficied,New credit,Application_1000610355,10000.0,3500.0,57.0,False,200.0,True,0.0,10000.0,Offer_73833420,650,12,1,10,0.000017,28940.512133,39,1901,empty
383,Released,User_90,W_Call incomplete files,Workflow,Workitem_1212740511,suspend,2016-12-20 10:56:00.340000+00:00,Not speficied,New credit,Application_1000610355,10000.0,3500.0,57.0,False,200.0,True,0.0,10000.0,Offer_73833420,656,12,1,10,5.387000,28945.899133,40,1900,empty
384,Obtained,User_78,W_Call incomplete files,Workflow,Workitem_1845325586,resume,2016-12-20 11:41:01.335000+00:00,Not speficied,New credit,Application_1000610355,10000.0,3500.0,57.0,False,200.0,True,0.0,10000.0,Offer_73833420,701,12,1,11,45.016583,28990.915717,41,1899,empty
385,Released,User_78,W_Call incomplete files,Workflow,Workitem_1550988887,suspend,2016-12-20 11:41:17.455000+00:00,Not speficied,New credit,Application_1000610355,10000.0,3500.0,57.0,False,200.0,True,0.0,10000.0,Offer_73833420,701,12,1,11,0.268667,28991.184383,42,1899,empty
386,Obtained,User_3,W_Call incomplete files,Workflow,Workitem_848905425,resume,2016-12-20 11:42:46.982000+00:00,Not speficied,New credit,Application_1000610355,10000.0,3500.0,57.0,False,200.0,True,0.0,10000.0,Offer_73833420,702,12,1,11,1.492117,28992.676500,43,1899,empty
387,Released,User_3,W_Call incomplete files,Workflow,Workitem_343356854,suspend,2016-12-20 11:43:09.782000+00:00,Not speficied,New credit,Application_1000610355,10000.0,3500.0,57.0,False,200.0,True,0.0,10000.0,Offer_73833420,703,12,1,11,0.380000,28993.056500,44,1899,empty
388,Obtained,User_77,W_Call incomplete files,Workflow,Workitem_903514152,resume,2016-12-20 12:24:17.051000+00:00,Not speficied,New credit,Application_1000610355,10000.0,3500.0,57.0,False,200.0,True,0.0,10000.0,Offer_73833420,744,12,1,12,41.121150,29034.177650,45,1907,empty
389,Released,User_77,W_Call incomplete files,Workflow,Workitem_1107392603,suspend,2016-12-20 13:21:43.145000+00:00,Not speficied,New credit,Application_1000610355,10000.0,3500.0,57.0,False,200.0,True,0.0,10000.0,Offer_73833420,801,12,1,13,57.434900,29091.612550,46,1902,empty
390,Deleted,User_134,W_Call incomplete files,Workflow,Workitem_1272681113,ate_abort,2016-12-23 09:45:29.802000+00:00,Not speficied,New credit,Application_1000610355,10000.0,3500.0,57.0,False,200.0,True,0.0,10000.0,Offer_73833420,585,12,4,9,4103.777617,33195.390167,47,1522,empty
391,Created,User_134,W_Validate application,Workflow,Workitem_198365537,schedule,2016-12-23 09:45:29.809000+00:00,Not speficied,New credit,Application_1000610355,10000.0,3500.0,57.0,False,200.0,True,0.0,10000.0,Offer_73833420,585,12,4,9,0.000117,33195.390283,48,1522,empty
392,Obtained,User_134,W_Validate application,Workflow,Workitem_1971785307,start,2016-12-23 09:45:29.811000+00:00,Not speficied,New credit,Application_1000610355,10000.0,3500.0,57.0,False,200.0,True,0.0,10000.0,Offer_73833420,585,12,4,9,0.000033,33195.390317,49,1522,empty
393,statechange,User_134,A_Validating,Application,ApplState_1312895350,complete,2016-12-23 09:45:29.875000+00:00,Not speficied,New credit,Application_1000610355,10000.0,3500.0,57.0,False,200.0,True,0.0,10000.0,Offer_73833420,585,12,4,9,0.001067,33195.391383,50,1522,empty
394,Released,User_134,W_Validate application,Workflow,Workitem_1834268919,suspend,2016-12-23 09:50:38.487000+00:00,Not speficied,New credit,Application_1000610355,10000.0,3500.0,57.0,False,200.0,True,0.0,10000.0,Offer_73833420,590,12,4,9,5.143533,33200.534917,51,1521,empty
395,statechange,User_106,A_Denied,Application,ApplState_837719667,complete,2016-12-27 08:44:48.425000+00:00,Not speficied,New credit,Application_1000610355,10000.0,3500.0,57.0,False,200.0,True,0.0,10000.0,Offer_73833420,524,12,1,8,5694.165633,38894.700550,52,1498,empty
396,statechange,User_106,O_Refused,Offer,OfferState_1849253845,complete,2016-12-27 08:44:48.450000+00:00,Not speficied,New credit,Application_1000610355,10000.0,3500.0,57.0,False,200.0,True,0.0,10000.0,Offer_73833420,524,12,1,8,0.000417,38894.700967,53,1498,empty
397,Deleted,User_106,W_Validate application,Workflow,Workitem_807442919,ate_abort,2016-12-27 08:44:48.459000+00:00,Not speficied,New credit,Application_1000610355,10000.0,3500.0,57.0,False,200.0,True,0.0,10000.0,Offer_73833420,524,12,1,8,0.000150,38894.701117,54,1497,empty

## Dataset Statistics

In [ ]:
def get_dataset_stat(dataset):
    data, case_id_col, activity_col, timestamp_col, label_col, resource_col, event_categorical_attributes, event_numeric_attributes, case_categorical_attributes, case_numeric_attributes, static_cols, dynamic_cols, cat_cols = get_dataset_settings(dataset)
    n_event_categorical_attributes = len(event_categorical_attributes)
    n_event_numeric_attributes = len(event_numeric_attributes) -8
    n_case_categorical_attributes = len(case_categorical_attributes)
    n_case_numeric_attributes = len(case_numeric_attributes)

    n_events = len(data[activity_col].unique())
    tmp = data[[case_id_col, 'event_nr']].groupby([case_id_col]).max()
    n_event_length_max = tmp['event_nr'].max()
    n_event_length_min = tmp['event_nr'].min()
    n_event_length_mean = int(tmp['event_nr'].mean())

    n_cases = len(data[case_id_col].unique())
    
    tmp = data[[case_id_col, 'timesincecasestart']].groupby([case_id_col]).max()
    n_mean_case_duration = round((tmp['timesincecasestart'].mean()/360),1)
    
    dataset_stats = pd.DataFrame()

    dataset_stats = dataset_stats.append(pd.DataFrame({
      'Dataset':[dataset],
      'Cases':[n_cases],
      'Min Case Length': [n_event_length_min], 
      'Max Case Length':[n_event_length_max], 
      'Mean Case Length':[n_event_length_mean], 
      'Mean Duration (hours)':[n_mean_case_duration],
      'Events':[n_events],
      'Cat. Event Attr.':[n_event_categorical_attributes],
      'Num. Event Attr.':[n_event_numeric_attributes],
      'Cat. Case Attr.':[n_case_categorical_attributes],
      'Num. Case Attr. ':[n_case_numeric_attributes]}))
    
    return dataset_stats

In [ ]:
datasets = ['BPIC13', 'BPIC17' ,'BPIC19', 'BPICHospital']

dataset_stats = pd.DataFrame()

for dataset in datasets:
    print(dataset)
    dataset_stat = get_dataset_stat(dataset)
    dataset_stats = dataset_stats.append(dataset_stat)
    
dataset_stats.to_csv("Dataset_Stats.csv", sep=";")
dataset_stats

## Business Outcomes Statistics

In [ ]:
outcome_target_list = [
'BPIC17-LoanAccepted',
'BPIC17-PotentialFraud',
'BPIC17-LongRunningCases',
'BPIC13-SupportLevel-1',
'BPIC19-DeletedPO',
'BPICHospital-BillingClosed',
'BPICHospital-CaseReopened',
]

outcome_stats = pd.DataFrame()

for outcome in outcome_target_list:
    print(outcome)
    eventlog = outcome.split('-')[0]

    data, case_id_col, activity_col, timestamp_col, label_col, resource_col, event_categorical_attributes, event_numeric_attributes, case_categorical_attributes, case_numeric_attributes, static_cols, dynamic_cols, cat_cols = get_dataset_settings(eventlog)
    attributes = [event_categorical_attributes, case_categorical_attributes, event_numeric_attributes, case_numeric_attributes]
    data_labeled, drop_events_list, dl_attributes = define_binary_outcome_label(data, attributes, outcome_label=outcome)

    tmp = data_labeled[[case_id_col, label_col]].groupby(case_id_col).max()
    class_1 = tmp[label_col].sum()
    class_0 = len(tmp) - class_1
    class_ratio = round(class_1  / class_0,4)


    outcome_stats = outcome_stats.append(pd.DataFrame({
      'Outcome':[outcome],
      'Class 1':[class_1],
      'Class 0 ': [class_0], 
      'Class Ratio':[class_ratio]
    }))

        
outcome_stats.to_csv("Outcome_Stats.csv", sep=";")

outcome_stats